<style>
  .room-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
</style>
<div class="room-container">
  <div>
    <h1>{{room.name}}</h1>
    <h4>{{room.discription}}</h4>

    <div class="comment-wrapper">
      <h3>Conversation</h3>
      {% for message in room_messages %}

      <div>
        {% if message.user == request.user %}
        <a href=" {% url 'delete_msg' message.id %}">Delete</a>
        {% endif %}
        <p>
          @{{message.user}} 
          <span> {{message.created|timesince}} ago </span>
        </p>

        <p>{{message.body}}</p>
      </div>
      <hr />
      {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
    <div class="comment-form">
      <form action="" method="POST">
        {% csrf_token %}
        <input
          type="text"
          name="body"
          placeholder="Write your coment here .."
        />
      </form>
    </div>
    {% endif %}
  </div>

  <div>
    <h3>Particpants</h3>
    <hr />
    {% for user in participants %}
    <div class="comment-wrapper">
      <h6>{{user.username}}</h6>
      {% comment %}
      <p>{{user.bio}}</p>
      {% endcomment %}
    </div>

    {% endfor %}
  </div>
</div>